
#col-side {
    display: block;
    padding: 32px;
    background-color: #3e1182;
}

.bottom{
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.top {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

#col-main{
    display: block;
    padding: 32px;
    border: 1px solid black;
    background-color: white;
}

h1{
  color: white;
  text-align:right;
  font-size:45px;
}

.tamagotchi {
   width: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
}

.main-content{
    margin: auto;
    width: 50%;
    height: 100%;
 }

body{
  background-color: #6e6e6e;
}
