<body>
<div class="main-content">
    <h1>{{ title }}</h1>
    <!-- START BUTTON ROW -->
    <div id="col-side" class="top">
        <app-action-panel class="actionpanel"></app-action-panel>
    </div>
    <!-- START TAMAGOTCHI AVATAR -->
    <div id="col-main">
        <img class="tamagotchi" src="../assets/baby-average/baby-average.gif" />
    </div>
    <!-- START STATS ROW -->
    <div id="col-side" class="bottom">
      <app-stats></app-stats>
    </div>
</div>
</body>

<router-outlet></router-outlet>
